/* src/css/home.css */
.home-container {
  width: 100vw;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  margin-top: 0;
}

.chat-icon-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001; /* Ensure it's above other elements */
  outline: none;
}

.chat-icon-button:focus {
  outline: 2px solid #007bff; /* Custom focus outline */
  outline-offset: 2px; /* Offset the outline slightly */
}

.chat-icon-button img {
  width: 50px;
  height: 50px;
}